<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
              <bean id="add" class="com.spring.dependentobject.Address">
              <constructor-arg value="gudivada"></constructor-arg>
              <constructor-arg value="ap"></constructor-arg>
              <constructor-arg value="india"></constructor-arg>
              </bean>
              <bean id="emp" class="com.spring.dependentobject.Employee">
              <constructor-arg value="1007" type="int"></constructor-arg>
              <constructor-arg value="pawan"></constructor-arg>
              <constructor-arg><ref bean="add"/></constructor-arg>
              </bean>
               
               </beans>
               